.header {
    background-color: #9fa8a3;
}

.inline {
    display: inline;
}

.header h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.city-search {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-left: 38px;
}

.search-input {
    width: 80%;
    height: 40px;
    margin-left: 24px;
    border-radius: 4px;
}

#city-results button {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: #e3e0cf;
    color: white;
    width: 80%;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 4px;
}

.btn {
    background-color: #9fa8a3;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-top: 10px;
    margin-left: 24px;
}

.btn:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

/* UV coloring scheme for UV display */
.uv-favorable{
    color: green;
}

.uv-moderate{
    color: orange;
}

.uv-severe{
    color: red;
}

.weather-current h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}

#current-weather{
    color: white;
    background-color: #e3e0cf;
    border-radius: 8px;
    padding: 4px 0 30px 40px;
    margin: 8px 0 16px 0;
    width: 200%;
}
#current-weather h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}
#current-weather h3{
    font-size: 36px;
}
#forecast{
    font-family: 'Bebas Neue', cursive;
    color: white;
    background:#9fa8a3;
    padding: 15px;
    border-radius: 8px;
    margin-left: 320px;
    width: 75%;
}
#forecast h2{
    padding: 0 12px 0 12px;
    font-size: 32px;
}
#forecast h3{
    font-size: 26px;
}

